<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.darkrockstudios.apps.hammer.android">
    <application
            android:allowBackup="true"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".HammerApplication">

        <activity android:name=".ProjectSelectActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ProjectEditorActivity">
        </activity>
    </application>
</manifest>